.body {
background-color: rgb(16, 16, 27);}

/* .del{
  background-color:aqua;
  border-radius: 230px;
  


}

.input {
  border-radius: 230px;
  width: 220px;

  
}
.inputbttn {
  border-radius: 230px;
  width: 100px;
  background-color: aqua;

  
}

.list{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(226, 225, 132);
  border-style: groove;
  border-color: black;
  
}

.head{
  text-align: center;
} */